/* 
    Document   : loged
    Created on : 16-ago-2012, 9:44:45
    Author     : lubuntu
    Description:
        Purpose of the stylesheet follows.
*/

#cuerpo{
	width:100%;
	height:100%;
}

#menu, #descripcion{
	float:left;
}


#misDatos{
	height:170px;
	width:230px;
	margin-left:45px;
	margin-bottom:30px;
}

#misDatos img{
	display:block;
	margin:auto;
	max-height:170px;
	max-width:230px;
}

#misDatos p{
	text-align: center;
	font-size: large;
}


#descripcion{
	width: 500px;
	height:150px;
	border: purple solid thin;
	padding:15px;
	text-align: center;
	margin-left:70px;
}


.limpiador{
	clear:both;
}

ul{
	list-style: none;
	margin-bottom:45px;
}

li{
	width:230px;
	border: purple solid thin;
	padding: 5px;
	margin-top:5px;
	background-color:orange;
	color: purple;
	cursor:pointer;
}

li:hover{
	margin-left:10px;
}

